@{
    ViewData["Title"] = "Anasayfa";
}

<div class="welcome-container">
    <div class="welcome-text">
        <span style="--i:1">Restoran</span>
        <span style="--i:2">Menü</span>
        <span style="--i:3">Yönetim</span>
        <span style="--i:4">Sistemine</span>
        <span style="--i:5">Hoşgeldiniz.</span>
    </div>
</div>
